.campaign-content {
	margin-top: 8px;
}

.campaign-content img {
	width: 20px;
	height: auto;
}

.app-detail-img-modal {
	border-radius: 20px;
}

.modal-traffic-type {
	font-size: 16px !important;
}

.price-detail {
	margin-top: 20px;
}

.price-detail span {
	font-size: 20px !important;
}

.requirement-container {
	margin-top: 20px;
}

.mt-clipboard-container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.requirement-container .mt-element-ribbon {
	background-color: #f1f1f1 !important;
}

.requirement-container .ribbon {
	font-type: bold;
}
.platform-icon {
	width: 40px;
	height: auto;
}
.mt-widget-4, .mt-widget-4 .mt-container {
	background-color: transparent;
}
.mt-body-icons img {
	display: inline-block;
}
@media screen and (min-width: 920px) {
		.mt-widget-4, .mt-widget-4 .mt-container {
		min-height: 200px !important;
	}
	
	.mt-widget-4 .mt-img-container>img {
		    height: 200px !important;
	}
	.mt-widget-4 .mt-container {
		width: 100px !important;
		right: 0 !important;
	}
	.mt-widget-4 .mt-container .mt-head-title {
		margin-top: 5px !important;
		font-size: 12px !important;
		height: 50px !important;
		padding: 0 !important;
		
	}
	.mt-widget-4 .mt-container .mt-body-icons {
		    margin-top: 5px !important;
		    font-size: 12px !important;
	}
	.mt-widget-4 .mt-container .mt-body-icons .platform-icon {
		width: 30px;
    	height: auto;
	}
	.mt-widget-4 .mt-container .mt-footer-button {
		    margin-top: 20px !important;
	}
	.mt-widget-4 .mt-container .mt-footer-button .btn {
		    font-size: 11px !important;
    		padding: 4px !important;
	} 
}
@media screen and (max-width: 1366px) {
/* 	.mt-widget-4 {
		width: 200px !important;
		height: 200px !important;
		min-height: 200px !important;
	}
	.mt-widget-4 .mt-container {
		width: 100px !important;
		height: 200px !important;
		right: -3px !important;
		min-height: 200px !important;
		bottom: 0;
		top: 0;
	}
	
	.mt-widget-4 .mt-img-container {
		width: 200px !important;
		height: 200px !important;
		min-height: 200px !important;
	}
	.mt-widget-4 .mt-img-container img {
		width: 200px !important;
		height: 200px !important;
		min-height: 200px !important;
	}
	.mt-widget-4 .mt-container .mt-head-title {
		margin-top: 5px !important;
		font-size: 12px !important;
		height: 50px !important;
		padding: 0 !important;
		
	}
	.mt-widget-4 .mt-container .mt-body-icons {
		    margin-top: 5px !important;
		    font-size: 12px !important;
	}
	.mt-widget-4 .mt-container .mt-body-icons .platform-icon {
		width: 30px;
    	height: auto;
	}
	.mt-widget-4 .mt-container .mt-footer-button {
		    margin-top: 20px !important;
	}
	.mt-widget-4 .mt-container .mt-footer-button .btn {
		    font-size: 11px !important;
    		padding: 4px !important;
	} */
	

	
}

@media screen and (min-width: 920px) {
	.campaign-search-form .select2 {
		width: 200px;
	}
}